*{
  font-family: 'Times New Roman', Times, serif;
  margin: 0px;
  padding: 0px;
  /* background-color: #0A2885 (10, 40, 133); */
}

h1{
  margin: 2rem 0 1rem 0;
}

.MainContainer{
  /* display: inline;
  justify-content: center; */
  background-color: #01147C;
  background: linear-gradient(to bottom, #01147C, #0000FD);
  color:white;

}

h{
  display: flex;
  justify-content: center;
  text-align: center;
  font: 4rem bold black;
}

.Search{
  position: absolute;
  display: flex;
  flex-direction: row;
  border-radius: 2rem;
  background: black;
  width:71%;
  padding: 1rem;
  margin: 1rem 0 6rem 12rem;
 }

.Search input{
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
  color: white;
  background: black;
  border: none;
  width: 100%;
  outline: none;
 }

.Search img{
  background-color: black;
  align-self: right;
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.Banner{
  margin: 7rem 0 0 4rem ;
  width: 91%;
  height: 500px;
}
.Banner iframe{
  border-radius: 12px;
  width: 100%;
  height:100%;
}
.movie-container{
  margin: 6rem;
}

.movie{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.5rem;
  justify-content: space-between;
  overflow-x: auto;
  scrollbar-width: none;
}

